<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/"><img class="navbar-brand" src="images/ladot-logo.png"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle map-filter-a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PROJECTS <span class="caret"></span></a>
                <ul class="dropdown-menu" id="map-filter-projects">
                  {{#if logged_in}}
                  <li><a href="/projects/new">Add a Project</a></li>
                  {{/if}}
                  <li><a href="/projects/table">Table View</a></li>
                  <li><a href="#" id="export-csv">Export Map View to CSV</a></li>
                  <li><a href="#" id="export-shapefiles">Export Map View to Shapefile</a></li>
                  {{#if adminclearance}}
                      <li><a href="/projects/flagged">Review Potential Duplicates</a></li>
                  {{/if}}
                </ul>
              </li>
                {{#if mapview}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle map-filter-a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MAP FILTERS <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="map-filter-type">
                        <li role="separator" class="divider"></li>
                        <li class="project-type filter">
                            <a>
                                <input class="filter-check" id="filter-bike"  type="checkbox" checked="checked"
                                       value="bike only">
                                    Bike Only
                            </a>
                        </li>

                        <li class="project-type filter">
                            <a>
                                <input class="filter-check" id="filter-bike-ped" type="checkbox" checked="checked"
                                       value="ped and bike">
                                Bike/Pedestrian
                            </a>
                        </li>
                        <li class="project-type filter">
                            <a>
                                <input class="filter-check" id="filter-first-last" type="checkbox" checked="checked"
                                       value="first and last mile">
                                First/Last Mile
                            </a>
                        </li>
                        <!--<li class="project-type filter">-->
                            <!--<a>-->
                                <!--<input class="filter-check" id="filter-other" type="checkbox" checked="checked"-->
                                       <!--value="Other">-->
                                <!--Other-->
                            <!--</a>-->
                        <!--</li>-->
                        <li class="project-type filter">
                            <a>
                                <input class="filter-check" id="filter-ped" type="checkbox" checked="checked"
                                       value="ped only">
                                Pedestrian Only
                            </a>
                        </li>
                        <li class="project-type filter">
                            <a>
                                <input class="filter-check" id="filter-people" type="checkbox" checked="checked"
                                       value="people st">
                                People St
                            </a>
                        </li>
                        <li class="project-type filter">
                            <a>
                                <input class="filter-check" id="filter-safety" type="checkbox" checked="checked"
                                       value="safety">
                                Safety
                                </a>
                        </li>
                        <li class="project-type filter">
                            <a>
                                <input class="filter-check" id="filter-srts" type="checkbox" checked="checked"
                                       value="srts">
                                SRTS
                            </a>
                        </li>
                    </ul>
                </li>
              {{/if}}
            </ul>
            <div class="col-sm-3 col-md-3">
              <form class="navbar-form" role="search" method="get" action="/projects/search">
                <div class="input-group" id="search-projects">
                    <span class="input-group-addon" id="search-button"><i class="fa fa-search fa-lg" aria-hidden="true"></i></span>
                    <input type="text" name="search" class="form-control input-block-level" id="search-projects-input"
                           placeholder="Search Projects">
                </div>
              </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {{#if logged_in}}
                    {{#if adminclearance}}
                        <li><a href="/users/adminadd">Add a New User</a></li>
                    {{/if}}
                    <li><a href="/users/finishsignup">Edit Profile</a></li>
                    <li><a href="/signout">Sign Out</a></li>
                {{/if}}
                {{#unless logged_in}}
                    <li><a href="/signin">Sign In</a></li>
                {{/unless}}
            </ul>
        </div>
    </div>
</nav>
