<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="/">LADOT</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- <form class="navbar-form navbar-left">
                <button type="submit" class="btn btn-default" id="addProject">Add Project</button>
            </form> -->
            <ul class="nav navbar-nav">
                <li><a href="/projects/new">Add a Project</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Map Filters <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="map-filter">
                        <li class="funding-types">
                            <a><input type="checkbox" checked="checked" value="Funded" id="funded-checkbox"> Funded</a>
                        </li>
                        <li class="funding-types">
                            <a><input type="checkbox" checked="checked" value="Unfunded" id="unfunded-checkbox"> Unfunded</a>
                        </li>
                        <li class="funding-types">
                            <a><input type="checkbox" checked="checked" value="Idea Project" id="idea-project-checkbox"> Idea Project</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="type">
                            <a><input type="checkbox" checked="checked" value="Bike Only" id="bike-only-checkbox"> Bike Only</a>
                        </li>
                        <li class="type">
                            <a><input type="checkbox" checked="checked" value="pedestrian"> Pedestrian</a>
                        </li>
                        <li class="type">
                            <a><input type="checkbox" checked="checked" value="street"> Street</a>
                        </li>
                        <li>
                            <a><button type="button" name="button" id="filter" class="btn btn-primary">Filter</button></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
