<div class="container-fluid">
  <div class="row">
      <div id="map-column" class="col-xs-8">
          <div id="map"></div>
          <button type="button" name="button" id="delete-button"><i class="fa fa-trash" aria-hidden="true"></i>
      </div>
      <div id="sidebar" class="col-xs-4">
        <div>
          <form>
              <div class="form-group" id="UID-group">
                  <label for="UID">Unique ID*</label>
                  <input type="number" class="form-control" id="UID" placeholder="">
                  <span id="UID-span" aria-hidden="true"></span>
              </div>
              <div class="form-group" id="Proj_Title-group">
                  <label for="Proj_Title">Project Title*</label>
                  <input type="text" class="form-control" id="Proj_Title" placeholder="">
                  <span id="Proj_Title-span" aria-hidden="true"></span>
              </div>
              <div class="form-group" id="Proj_Desc-group">
                  <label for="Proj_Desc">Project Description*</label>
                  <textarea class="form-control" rows="3" id="Proj_Desc"></textarea>
                  <p class="help-block">Brief statement of project purpose and scope</p>
                  <span id="Proj_Desc-span" aria-hidden="true"></span>
              </div>
              <div class="form-group" id="intersections">
                  <label>Intersections*</label>
                  <input type="text" class="form-control Intersections" placeholder="Street" id="intersection1">
                  <span id="intersection_span" aria-hidden="true"></span>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary" id="add-intersection">Add Intersection</button>
              </div>
              <div class="form-group" id="Lead_Ag-group">
                  <label for="Lead_Ag">Lead Agency*</label>
                  <input type="text" class="form-control" id="Lead_Ag" placeholder="i.e. LADOT">
                  <span id="Lead_Ag-span" aria-hidden="true"></span>
              </div>
              <div class="form-group" id="Fund_St">
                <label for="Fund_St">Funding Status*</label>
                  <div class="radio">
                      <label>
                        <input type="radio" name="Fund_St" id="funded" value="Funded">
                        Funded
                      </label>
                  </div>
                  <div class="radio">
                      <label>
                        <input type="radio" name="Fund_St" id="unfunded" value="Unfunded">
                        Unfunded
                      </label>
                  </div>
              </div>
              <div class="form-group" id="Proj_Man-group">
                  <label for="Proj_Man">Project Manager*</label>
                  <input type="text" class="form-control" id="Proj_Man" placeholder="Manager Name">
                  <span id="Proj_Man-span" aria-hidden="true"></span>
              </div>
              <label for="Contact_info">Project Contact Information*</label>
              <div class="form-group" id="Contact_info_name-group">
                  <input type="text" class="form-control" id="Contact_info_name" placeholder="Contact Name">
                  <span id="Contact_info_name-span" aria-hidden="true"></span>
              </div>
              <div class="form-group" id="Contact_info_phone-group">
                  <input type="tel" class="form-control" id="Contact_info_phone" placeholder="Contact Phone">
                  <span id="Contact_info_phone-span" aria-hidden="true"></span>
              </div>
              <div class="form-group" id="Contact_info_email-group">
                  <input type="email" class="form-control" id="Contact_info_email" placeholder="Contact Email">
                  <span id="Contact_info_email-span" aria-hidden="true"></span>
              </div>
              <div class="form-group" id="More_info-group">
                  <label for="More_info">Link to More Project Info*</label>
                  <input type="url" class="form-control" id="More_info" placeholder="URL">
                  <span id="More_info-span" aria-hidden="true"></span>
              </div>
              <div class="form-group" id="CD-group">
                  <label for="CD">Council District Number*</label>
                  <input type="number" min="1" max="14" class="form-control" id="CD" placeholder="1-14">
                  <span id="CD-span" aria-hidden="true"></span>
              </div>
              <div class="form-group" id="Access">
                  <label for="Access">Accessibility*</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="Access" value="Internal" id="internal">
                      Internal
                    </label>
                  </div>
                  <div class="radio">
                      <label>
                        <input type="radio" name="Access" value="External" id="external">
                        External
                      </label>
                  </div>
                  <div class="radio">
                      <label>
                        <input type="radio" name="Access" value="Subject to Change" id="subject_to_change">
                        Subject to Change
                      </label>
                  </div>
                  <p class="help-block">Define project’s accessibility to different users.</p>
                  <div class="form-group">
                      <label for="Grant_Cat">Grant Category</label>
                      <input class="form-control" id="Grant_Cat" placeholder="CFP,Pl,Bl, etc.">
                  </div>
                  <div class="form-group" id="Proj_Ty">
                      <label for="Proj_Ty">Project Type</label>
                      <div class="radio">
                          <label>
                        <input type="radio" value="Bike Only" name="Proj_Ty">
                        Bike only
                      </label>
                      </div>
                      <div class="radio">
                          <label>
                        <input type="radio" value="Ped Only" name="Proj_Ty">
                        Ped Only
                      </label>
                      </div>
                      <div class="radio">
                          <label>
                        <input type="radio" value="Safety" name="Proj_Ty">
                        Safety
                      </label>
                      </div>
                      <div class="radio">
                          <label>
                        <input type="radio" value="People Street" name="Proj_Ty">
                        People St
                      </label>
                      </div>
                      <div class="radio">
                          <label>
                        <input type="radio" value="SRTS" name="Proj_Ty">
                        SRTS
                      </label>
                      </div>
                      <div class="radio">
                          <label>
                        <input type="radio" value="First Mile and Last Mile" name="Proj_Ty">
                        First mile and last mile
                      </label>
                      </div>
                      <div class="radio">
                          <label>
                        <input type="radio" value="Bike/PED" name="Proj_Ty">
                        Bike/ped
                      </label>
                      </div>
                      <div class="radio">
                          <label>
                        <input type="radio" value="Idea Project" name="Proj_Ty">
                        Idea Project
                      </label>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="Est_Cost">Estimated Cost</label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" step="0.01" class="form-control" id="Est_Cost" placeholder="">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="Fund_Rq">Fund Request</label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" step="0.01" class="form-control" id="Fund_Rq" placeholder="">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="Lc_match">Local Match</label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" step="0.01" class="form-control" id="Lc_match" placeholder="">
                      </div>
                      <p class="help-block">Amount of fund provided by lead agency</p>
                  </div>
                  <div class="form-group">
                      <label for="Match_Pt">Match Percentage</label>
                      <div class="input-group">
                        <input type="number" class="form-control" id="Match_Pt" placeholder="">
                        <span class="input-group-addon">%</span>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="Comments">Comments</label>
                      <textarea class="form-control" rows="3" id="Comments"></textarea>
                  </div>
              </div>

              <div id="fundedAttributes">
                  <div class="form-group">
                      <label for="Dept_Proj_ID">Department Project ID</label>
                      <input class="form-control" id="Dept_Proj_ID" placeholder="Any ID assigned to projects by departments">
                  </div>
                  <div class="form-group">
                      <label for="Total_bgt">Total Budget</label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" step="0.01" class="form-control" id="Total_bgt" placeholder="Estimated budget of the project">
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="Grant">Grant</label>
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="number" step="0.01" class="form-control" id="Grant" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="Other_funds">Other Funds</label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" step="0.01" class="form-control" id="Other_funds" placeholder="">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="Prop_c">Prop C</label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" step="0.01" class="form-control" id="Prop_c" placeholder="">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="Measure_r">Measure R</label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" step="0.01" class="form-control" id="Measure_r" placeholder="">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="General_fund">General Fund</label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" step="0.01" class="form-control" id="General_fund" placeholder="">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="Current_Status">Current Status</label>
                      <input type="text" class="form-control" id="Current_Status" placeholder="Project’s current construction stage">
                  </div>
                  <div class="form-group">
                      <label for="Issues">Issues</label>
                      <input class="form-control" id="Issues" placeholder="Obstacles that may jeopardize the project">
                  </div>
                  <div class="form-group" id="Deobligation">
                      <label for="Deobligation">At Risk of Deobligation?</label>
                      <div class="radio">
                          <label>
                        <input type="radio" name="Deobligation" value="Yes">
                        Yes
                      </label>
                      </div>
                      <div class="radio">
                          <label>
                        <input type="radio" name="Deobligation" value="No">
                        No
                      </label>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="Explanation">Explain Risk of Deobligation</label>
                      <textarea class="form-control" rows="3" id="Explanation"></textarea>
                      <p class="help-block">Reasons why the project is/is not at risk.</p>
                  </div>
                  <div class="form-group">
                      <label for="Other_ID">Other Project ID</label>
                      <input class="form-control" id="Other_ID" placeholder="i.e. grant application ID, etc.">
                  </div>
                  <div class="form-group">
                      <label for="Constr_by">Construction By</label>
                      <input class="form-control" id="Constr_by" placeholder="i.e. contractor, city force">
                  </div>
                  <div class="form-group">
                      <label for="Info_source">Info Source</label>
                      <input class="form-control" id="Info_source" placeholder="">
                  </div>
              </div>

              <button type="submit" id="submit-project" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
  </div>
</div>

<script type="text/javascript" src='/javascripts/new-project.js'></script>
