body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#delete, #export {
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 100;
    background: white;
    color: black;
    padding: 6px;
    border-radius: 4px;
    font-family: 'Helvetica Neue';
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}

#export {
    top: 90px;
}

.center {
    margin-top:50px;
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}

.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
	border-right: 0;
}
