
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Calibri', sans-serif;
}

/*NEEDS TO BE PUT IN THE RIGHT PLACE*/
/*FUNDED / UNFUNDED PANELS*/
.projects-list-item {
    border: 1px solid #002E6D;
    margin: 5px;
}

#main-info {
    margin-top: 10px;
}

.project-data {
    padding: 2px 15px;
}

.project-heading {
    background-color: #004EB9;
}

.projects-list-item {
    margin-left: 0;
}

.project-more-data {
    margin-bottom: 0;
}

.project-body > p {
    margin: 0;
}

.project-more-data > p {
    margin: 0;
}

.project-body-button {
    margin: -10px 0 10px 15px;
    background-color: #002E6D;
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.project-body-button:hover,
.project-body-button:focus {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    background-color: #004EB9;
    color: white;
}

.project-title {
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}
.project-heading-data {
    color: white;
    margin: 0;
}

.map-filter-a,
.map-filter-a:focus,
.map-filter-a:hover,
.map-filter-a:visited {
    color: white;
}

.panel-svg {
    position: relative;
    right: 24px;
    bottom: 2px;
    stroke: white;
}

/*---------------------------------------------------------------*/

.navbar {
    margin-bottom: 0;
    background-color: #002E6D;
    color: white;
    border-radius: 0px;
    font-family: 'Calibri', sans-serif;
}

.navbar-default .navbar-brand {
    color: white;
    border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:visited {
    color: white;
    text-decoration: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

#map {
    width: 100%;
    height: -o-calc(100vh - 50px);
    /* opera */
    height: -webkit-calc(100vh - 50px);
    /* google, safari */
    height: -moz-calc(100vh - 50px);
    /* firefox */
}

#map-column {
    padding: 0;
}

#sidebar {
    height: -o-calc(100vh - 50px);
    /* opera */
    height: -webkit-calc(100vh - 50px);
    /* google, safari */
    height: -moz-calc(100vh - 50px);
    /* firefox */
    overflow-y: scroll;
    padding: 25px;
}

#project-view-sidebar {
    height: -o-calc(100vh - 50px);
    /* opera */
    height: -webkit-calc(100vh - 50px);
    /* google, safari */
    height: -moz-calc(100vh - 50px);
    /* firefox */
    overflow-y: scroll;
    padding: 25px;
}

#delete {
    position: absolute;
    top: 60px;
    right: 26%;
    z-index: 100;
    background: white;
    color: #231F20;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}

#exportCSV,
#exportShape,
#submit-project {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    background-color: #002E6D;
    color: white;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

#submit-project {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}

#deleteuserbutton {
    margin-left: 8px;
}

#show-info,
#edit-button,
#hide-info,
#add-intersection,
#undo-intersection,
#update-project {
    background-color: #002E6D;
    color: white;
    box-sizing: border-box;
    margin-right: 5px;
    padding: 5px 8px;
    line-height: 2.2em;
    vertical-align: middle;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

#show-info {
    margin-left: 20px;
}

#edit-button {
    margin-right: 20px;
}

#delete-project-button,
#close-modal-button {
    background-color: #f0eeee;
    border: 1px solid #002E6D;
    border-radius: 0px;
    color: #231F20;
}

#delete-project-button:hover,
#close-modal-button:hover {
    background-color: #004EB9;
    border: 1px solid #002E6D;
    border-radius: 0px;
    color: white;
}

#cancel-button,
#flag-button,
#add-button {
    background-color: #f0eeee;
    border: 1px solid #002E6D;
    border-radius: 0px;
    color: #231F20;
}

#cancel-button:hover,
#flag-button:hover,
#add-button:hover {
    background-color: #002E6D;
    border: 1px solid #002E6D;
    border-radius: 0px;
    color: white;
}

.modal-header {
    background-color: #002E6D;
    color: white;
    font-family: 'Calibri', sans-serif;
}

#intersections .form-group {
    margin-bottom: 2px;
}

#intersections .form-group:last-child {
    margin-bottom: 5px;
}

#add-intersection,
#undo-intersection,
#update-project {
    margin-top: 10px;
    margin-left: 0px;
}

#deleteuserbutton,
#add-intersection:hover,
#undo-intersection:hover,
#show-info:hover,
#edit-button:hover,
#hide-info:hover,
#exportCSV:hover,
#exportShape:hover,
#submit-project:hover,
#update-project:hover,
#exportCSV:focus {
    background-color: #004EB9;
    border-radius: 3px;
    color: white;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

#fundedAttributes,
#unfundedAttributes,
#fundedAndUnfundedAttributes {
    display: none;
}

#sidebar-funded-attributes,
#sidebar-fundedAndUnfunded,
#sidebar-unfunded-attributes,
#sidebar-more-info {
    display: none;
}

#undo-intersection {
    display: none;
}

#search-projects {
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    line-height: 27px;
}

#search-projects-input {
    font-size: 16px;
    background-color: white;
    color: #666666;
    border-radius: 0 3px 3px 0;
    border: none;
    display: inline-block;
    box-shadow: none;
    padding-left: 5px;
}

#search-button {
    background-color: lightgray;
}

#google-search {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 100;
    width: 275px;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    line-height: 27px;
}

#google-search-icon {
    background-color: lightgray;
}

#google-search-input {
    font-size: 12px;
    background-color: white;
    color: darkgray;
    border-radius: 0 3px 3px 0;
    border: none;
    display: inline-block;
    box-shadow: none;
    padding-left: 5px;
}

.map-button {
    background-color: #002E6D;
    color: white;
    box-sizing: border-box;
    margin-right: 5px;
    padding: 5px 8px;
    line-height: 2.2em;
    vertical-align: middle;
}

.map-button:hover {
    background-color: #004EB9;
    color: white;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

#map-legend {
    position: absolute;
    top: 10px;
    width: 100px;
    left: 100px;
    z-index: 100;
}

#map-legend-button {
    border-radius: 3px;
    width: 100px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    background-color: #002E6D;
    color: white;
    box-sizing: border-box;
    padding: 5px 8px;
    line-height: 2.2em;
    vertical-align: middle;
}

#map-legend-button:hover {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    background-color: #004EB9;
    color: white;
}

.fa-circle-thin {
    color: #231F20;
}

.filter-check {
    color: black;
}

#legend-bike {
    color: #FFCC33;
}

#filter-bike:checked:after {
    background-color: #FFCC33;
    border-color: #FFCC33;
}

#filter-bike:after {
    border-color: #FFCC33;
}

#filter-bike:focus:after {
    border-color: #FFCC33;
}

#legend-bike-ped {
    color: #EE34D2;
}

#filter-bike-ped:checked:after {
    background-color: #EE34D2;
    border-color: #EE34D2;
}

#filter-bike-ped:after {
    border-color: #EE34D2;
}

#filter-bike-ped:focus:after {
    border-color: #EE34D2;
}

#legend-ped {
    color: #AAF0D1;
}

#filter-ped:checked:after {
    background-color: #AAF0D1;
    border-color: #AAF0D1;
}

#filter-ped:after {
    border-color: #AAF0D1;
}

#filter-ped:focus:after {
    border-color: #AAF0D1;
}

#legend-safety {
    color: #FF355E;
}

#filter-safety:checked:after {
    background-color: #FF355E;
    border-color: #FF355E;
}

#filter-safety:after {
    border-color: #FF355E;
}

#filter-safety:focus:after {
    border-color: #FF355E;
}

#legend-first-last {
    color: #CCFF00;
}

#filter-first-last:checked:after {
    background-color: #CCFF00;
    border-color: #CCFF00;
}

#filter-first-last:after {
    border-color: #CCFF00;
}

#filter-first-last:focus:after {
    border-color: #CCFF00;
}

#legend-people {
    color: #66FF66
}

#filter-people:checked:after {
    background-color: #66FF66;
    border-color: #66FF66;
}

#filter-people:after {
    border-color: #66FF66;
}

#filter-people:focus:after {
    border-color: #66FF66;
}

#legend-srts {
    color: #FD5B78;
}

#filter-srts:checked:after {
    background-color: #FD5B78;
    border-color: #FD5B78;
}

#filter-srts:after {
    border-color: #FD5B78;
}

#filter-srts:focus:after {
    border-color: #FD5B78;
}


#legend-other {
    color: #FF9933;
}

#filter-other:checked:after {
    background-color: #FF9933;
    border-color: #FF9933;
}

#filter-other:after {
    border-color: #FF9933;
}

#filter-other:focus:after {
    border-color: #FF9933;
}

.dropdown.open #map-legend-button {
    background-color: #004EB9;
    color: white;
    border-radius: 3px 3px 0 0;
}

.dropdown-menu .divider {
    margin: 5px 0 8px 0;
}

#legend-dropdown {
    padding: 8px 0;
    border-radius: 0 0 3px 3px;
}

.legend-category {
    color: #231F20;
    margin: -10px 0;
    font-size: 10px;
}

#hide-button {
    position: absolute;
    top: 10px;
    right: 150px;
    z-index: 100;
}

#unhide-button {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 100;
}


#searchbar {
    padding: 0;
}

#delete-button {
    position: absolute;
    top: 80px;
    left: 11px;
    z-index: 100;
    display: none;
    background-color: white;
    width: 26px;
    height: 26px;
    border-radius: 3px;
    border: #999 solid 1px;
    box-sizing: border-box;
}

#project-details {
    margin-top: 10px;
}

.Intersections {
    margin-top: 10px;
}

#filter {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.table-section {
    margin-top: 10px;
    overflow-x: scroll;
}

#userdeletebtn {
    text-align: center;
}


/*USER FORMS CSS*/

.userForm {
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.userForm h2 {
    font-family: 'Calibri', sans-serif;
    text-align: center;
    background: #002E6D;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin: -30px -30px 10px -30px;
}

.userForm input[type="text"],
.userForm input[type="email"],
.userForm input[type="number"],
.userForm input[type="password"],
.userForm textarea,
.userForm select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.userForm textarea {
    resize: none;
    overflow: hidden;
}

.userForm button {
    clear: both;
    background-color: #f0eeee;
    color: #002E6D;
    -moz-box-shadow: inset 0px 1px 0px 0px #f0eeee;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f0eeee;
    box-shadow: inset 0px 1px 0px 0px #f0eeee;
    border: 1px solid #f0eeee;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
    padding: 8px 18px;
    text-decoration: none;
}

.userForm button:hover {
    background: #004EB9;
    color: white;
}

.userForm input[type="radio"] {
    visibility: hidden;
}

#radio1 {
    float: left;
}

#radio2 {
    float: right;
}

.userForm input[type="radio"]+label {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.userForm input[type="radio"]+label:before {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
    background-color: #3498db;
    color: #fff;
    display: none;
}

.userForm input[type="radio"]:checked+label:before {
    display: block;
}

.userForm input[type="radio"]+label h4 {
    margin: 15px;
    color: #ccc;
}

.userForm input[type="radio"]:checked+label {
    border: 1px solid #231F20;
    background-color: #f0eeee;
}

.userForm input[type="radio"]:checked+label h4 {
    color: #231F20;
}

.userForm h3,
h4 {
    font-size: 16px;
}


/*/////////////////////////*/


/*table.hbs css*/

table {
    width: 100%;
    table-layout: fixed;
    border: 1px #f0eeee solid;
}

.tbl-content {
    height: 100%;
    max-height: 400px;
    overflow-x: auto;
    margin-top: 0px;
}

#search-results .tbl-content {
    max-height: 100%;
}

th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    background-color: #00337A;
    /*#28527e;*/
    /*lighter navy*/
    color: white;
    /*#f0eeee;*/
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table-button {
    margin-top: 5px;
    width: 40px;
}

.select-all {
    display: inline-block;
    margin-left: 5px;
}

#edit-button {
    float: right;
    /*display: none;*/
}


/*/////////////////////////*/


/*project form style*/

#newprojectform,
.list-group-flush {
    max-width: 500px;
    margin: 10px auto;
    background: #fff;
    border-radius: 2px;
    padding: 20px;
    color: #231F20;
    /*    color: rgba(0, 0, 0, 0.59);*/
}

#newprojectform h1,
.list-group-flush h1 {
    font-family: 'Calibri', sans-serif;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    font-size: x-large;
}

#newprojectform .form-group,
.list-group-flush li {
    display: block;
    padding: 9px;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

#budgetdiv .form-group,
#unfundedAttributes .form-group {
    margin-bottom: 15px;
}

#newprojectform .form-group>label,
.list-group-flush li>label {
    display: block;
    float: left;
    margin-top: -21px;
    background: white;
    height: 14px;
    padding: 2px 5px 2px 5px;
    /*    color:rgba(0, 0, 0, 0.59);*/
    font-size: 14px;
}

#newprojectform input[type="text"],
#newprojectform input[type="tel"],
#newprojectform input[type="email"],
#newprojectform input[type="number"],
#newprojectform input[type="password"],
#newprojectform textarea,
#newprojectform select,
.list-group-flush input[type="text"],
.list-group-flush input[type="tel"],
.list-group-flush input[type="email"],
.list-group-flush input[type="number"],
.list-group-flush input[type="password"],
.list-group-flush textarea,
.list-group-flush select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

#newprojectform .form-group>span {
    background: white;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    /*    color: rgba(0, 0, 0, 0.59);*/
    font-size: 11px;
    border-radius: 3px;
}

#newprojectform textarea {
    resize: none;
}

#newprojectform input[type="submit"],
#newprojectform input[type="button"] {
    background: #004EB9;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #002E6D;
    border-radius: 3px;
    color: white;
}

#newprojectform input[type="submit"]:hover,
#newprojectform input[type="button"]:hover {
    background: #004EB9;
    color: white;
}

.list-group-flush p {
    display: inline;
}


/*/////////////////////////*/


/*span style*/

#Fund_St-span,
#Access-span,
#Proj_Ty-span,
#Legacy-ID-span,
#Lead_Ag-span,
#Proj_Title-span,
#Proj_Desc-span,
#Contact_info_name-span,
#Contact_info_phone-span,
#Contact_info_email-span,
#More_info-span,
#CD-span,
#Deobligation-span,
#Primary_Street-span,
#cross-street1-span,
#cross-street2-span,
#Proj_Status-span,
#Proj_Man-span,
#Dept_Proj_ID-span,
#Explanation-span,
#Other_ID-span,
#Total_bgt-span,
#Grant-span,
#Other_funds-span,
#Prop_c-span,
#Measure_r-span,
#Gas_tax-span,
#General_fund-span,
#Authorization-span,
#Issues-span,
#Constr_by-span,
#Info_source-span,
#Grant_Cat-span,
#Grant_Cycle-span,
#Est_Cost-span,
#Fund_Rq-span,
#Lc_match-span {
    display: none;
    height: 100%;
    right: 9px;
    top: 0px;
}

.fa-spinner {
    display: none;
}