body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.navbar {
  margin-bottom: 0;
}

#map{
  width: 100%;
  height: -o-calc(100vh - 50px); /* opera */
  height: -webkit-calc(100vh - 50px); /* google, safari */
  height: -moz-calc(100vh - 50px); /* firefox */
}

#map-column{
  padding: 0;
}

#sidebar {
  height: -o-calc(100vh - 50px); /* opera */
  height: -webkit-calc(100vh - 50px); /* google, safari */
  height: -moz-calc(100vh - 50px); /* firefox */
  overflow-y: scroll;
  padding: 25px;
}

#project-view-sidebar {
  height: -o-calc(100vh - 50px); /* opera */
  height: -webkit-calc(100vh - 50px); /* google, safari */
  height: -moz-calc(100vh - 50px); /* firefox */
  overflow-y: scroll;
  padding: 25px;
}

#delete {
    position: absolute;
    top: 60px;
    right: 26%;
    z-index: 100;
    background: white;
    color: black;
    padding: 6px;
    border-radius: 4px;
    font-family: 'Helvetica Neue';
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}

#fundedAttributes, #unfundedAttributes, #fundedAndUnfundedAttributes {
  display: none;
}

#sidebar-funded-attributes, #sidebar-fundedAndUnfunded, #sidebar-unfunded-attributes, #sidebar-more-info {
  display: none;
}

#undo-intersection{
  display: none;
}

/*#google-search{
  height: 60px;
  border-radius: 0 !important;
  margin: 0;
  outline: none;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: #e7e7e7 2px solid;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}*/

#google-search{
  position: absolute;
  top: 10px;
  right: 50px;
  z-index: 100;
  width: 275px;
  border-radius: 0 !important;
}

#searchbar{
  padding: 0;
}

#delete-button{
  position: absolute;
  top:80px;
  left:11px;
  z-index:100;
  display: none;
  background-color: white;
  width: 26px;
  height: 26px;
  border-radius: 3px;
  border: #999 solid 1px;
  box-sizing: border-box;
}

#project-details{
  margin-top: 25px;
}

.Intersections{
  margin-top: 10px;
}

#filter{
  display: block;
  width: 100%;
  margin-top: 10px;
}
.table-section{
  margin-top: 80px;
  overflow-x: scroll;
}

/*.table {
    border-radius: 5px;
    width: 100%;
    margin: 0px auto;
    float: none;
}*/

/*#funded-attributes, #unfunded-attributes {
  display: none;
}*/
