<div class="userForm">

<form class="create-update-form" action="/users/createuser" method="POST">
  <h2>Sign Up Form</h2>
    <input type="text" name="firstname" id="firstname" placeholder="First Name" required>

    <input type="text" name="lastname" id="lastname" placeholder="Last Name" required>

    <div class="row">
      <div class="col-md-6">
        <input type="radio" name="admin" id="radio1" value="Project Manager" required><label for="radio1"><h4>Project Manager</h4></label>
      </div>
      <div class="col-md-6">
        <input type="radio" name="admin" id="radio2" value="Admin"><label for="radio2"><h4>Admin</h4></label>
      </div>
    </div>

    <input type="email" name="email" id="email" placeholder="Email Address" required>

    <input type="number" name="phonenumber" id="phonenumber" placeholder="Phone Number" required>

    <input type="password" name="password" id="password" placeholder="Password" required>

  <button type="submit">Sign Up!</button>
</form>
</div>